.alert {
  position: fixed;
  width: 50%;
  bottom: 20px;
  left: 30px;
  display: flex;
  align-items: center;
  gap: 3px;
  z-index: 4;
  transition: 0.3s ease-in-out;
}

.alert ion-icon {
  font-size: 25px;
}
