/*-----------------------------------*\
  #VideoPlayer.css
\*-----------------------------------*/

/**
 * copyright 2023 sikharthy infotech
 */

/*-----------------------------------*\
  #VIDEO
\*-----------------------------------*/

.video-player {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: var(--raisin-black_90);
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.video-player .wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-inline: 30px;
  padding-block: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  transition: var(--transition-1);
}

.wrapper .operator {
  background-color: var(--raisin-black_20);
  height: 50px;
  width: 50px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  opacity: 0.5;
  transition: var(--transition-1);
}

.wrapper .operator:is(:hover, :focus) {
  opacity: 1;
}

.operator ion-icon {
  font-size: 24px;
  color: var(--white);
}

.close-btn ion-icon {
  --ionicon-stroke-width: 50px;
}
